*{
        margin: 0;
        padding: 0;
          transition: 1s ease;
        box-sizing: border-box;
}

body{
        background-color: #1D1539;
          transition: 1s ease;
}

.container{
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;

        &::before{
                content: '';
                width: 300px;
                height: 300px;
                position: absolute;
                background: linear-gradient(60deg,#EB8228,#E659F0);
                border-radius: 50%;
                top: 20px;
                right: 120px;
                z-index: -1;
        }
        &::after{
                content: '';
                width: 150px;
                height: 150px;
                position: absolute;
                background: linear-gradient(60deg,#EB8228,#25f1EB);
                border-radius: 50%;
                bottom: 30px;
                left:150px;
        }
        .slider_container{
                width: 900px;
                height: 500px;
                border-radius: 15px;
                backdrop-filter: blur(20px);
                background-color: rgba(255, 255, 255, 0.2);
                display: flex;
                padding: 4rem;
                align-items: center;
                justify-content: center;
                  transition: 1s ease;

                .scroll_btns{
                        width: 100%;
                        position: absolute;
                        display: flex;
                        justify-content: space-between;
                        button{
                                font-size: 30px;
                                background: transparent;
                                cursor: pointer;
                                border: none;
                                color: #fff;
                                &:hover{
                                        transform: scale(1.1);
                                }
                        }
                }
        }

        .slider{
                width: 800px;
                display: flex;
              scroll-behavior: smooth;
                overflow-x: hidden;
                img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                }
        }
}